<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>搜索</title>
<link rel="stylesheet" type="text/css" href="../css/global.css" />
<link rel="stylesheet" type="text/css" href="../css/main.css" />
<script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../js/ScrollPic.js"></script>
<style> 
  *{font-family:"Microsoft Yahei";} 
</style>
</head>
  
  <body>
    <stl:include file="@/include/header.html"></stl:include>
    <!--headerBg end-->
    <div class="banner6"></div>
    <div class="container6Bg">
      <div class="width1002 marA bgfff clearfix container2">
        <div class="fl ap leftPart">
          <ul class="ab leftMenu">
            
            
            <li class="current first"><a href="/channels/325.html">猎头招聘</a>
              
            </li>
            
            
            
            <li><a href="/channels/272.html">中企招聘</a></li>
            
            
          </ul>
          <div class="ab dzfaLink" style="top: 181px;"><a href="/utils/dzfa.html"><img src="/images/dzfaLink.jpg"></a></div>
        </div>
        <!--leftPart end-->
        <div class="fr rightPart">
          <div class="tr position">当前位置：<a href="/">首页</a>  </div>
          <div class="ap h3Box"><h3 class="ab f18 normal">搜 索</h3></div>
          <div class="marA courseBox">
            <div style=" width:723px; height:auto; margin:auto;">
              
              <stl:searchInput openwin="false" isLoadValues="true"></stl:searchInput>
              
              <br />
              
              <stl:searchOutput isHighlight="true"></stl:searchOutput>
            </div><!--courseBox end-->
          </div><!--rightPart end-->     
        </div><!--container2 end-->
        <div class="width1002 marA oh footer2">
          <div class="fl left">
            <p> <a href="/channels/114.html">中企服务方案</a>&nbsp; &nbsp;  <a href="/channels/301.html">员工服务</a>&nbsp; &nbsp;  <a href="/shoppc/">中企商城</a>&nbsp; &nbsp;  <a href="/channels/175.html">媒体中心</a>&nbsp; &nbsp;  <a href="/channels/273.html">关于中企</a>&nbsp; &nbsp;  <ahref="/channels/325.html">诚聘英才</a>&nbsp; &nbsp; </p>
            <p>热线:&nbsp;400 089 9090 　电话: (86)-21-63191616 　传真: (86)-21-64151122 　邮箱: shanghai@hr-channel.com</p>
            <p>Copyright@2001-2015 HR-Channel.com All Rights Reserved.</p>
          </div><!--left end-->
          
        </div>
        <!--footer2 end-->
      </div>
      
      <div class="width1002 marA oh footer2">
        <div class="fl left">
          <p> <a href="/channels/114.html">中企服务方案</a>&nbsp; &nbsp;  <a href="/channels/301.html">员工服务</a>&nbsp; &nbsp;  <a href="/shoppc/">中企商城</a>&nbsp; &nbsp;  <a href="/channels/175.html">媒体中心</a>&nbsp; &nbsp;  <a href="/channels/273.html">关于中企</a>&nbsp; &nbsp;  <ahref="/channels/325.html">诚聘英才</a>&nbsp; &nbsp; </p>
          <p>热线:&nbsp;400 089 9090 　电话: (86)-21-63191616 　传真: (86)-21-64151122 　邮箱: shanghai@hr-channel.com</p>
          <p>Copyright@2001-2015 HR-Channel.com All Rights Reserved.</p>
        </div><!--left end-->
        <div class="fr logo">
          <img src="/images/logo6.png" width="168" height="40"></div>
      </div>
      <!--footer2 end-->
    </div><!--container2Bg end-->
    <style>
      .resumeContainer {width:725px;}
    </style>
    <script type="text/javascript">jQuery(document).ready(function() {
      stlSearchLoadValues('searchForm_28719', true);
      });
    </script>
    <script type="text/javascript" src="../js/base.js"></script>    
  </body>
</html>